[2020-07-11 09:02] Moult opened #37 "Scope of schema compared to IFC"
This looks like an interesting project! I'm curious as to what is the intended scope, especially in contrast to existing schemas like IFC. As stated in the readme, it does borrow heavily from Brick schema, so perhaps mentioning how it plans to fit into the Brick ecosystem would be interesting too :)

[2020-07-14 03:17] charbull commented on #37
Hi @Moult, we are preparing an alignment with Brick-Schema, to be released soon.

[2020-07-14 17:48] Ray725 opened #41 "TODO(https://github.com/google/digitalbuildings/pull/33/files/d9cce06d48638519fae029866d51e2a8be75587f..22fc9523d41f96113f47ea8f0328fc5463c9b408#diff-474ccaae3ccf8a70867a6812365cf09bL42): replace this assignment logic with NamedTuple ontology generation"

[2020-07-14 17:48] #41 closed

[2020-07-14 17:50] Ray725 opened #42 "Replace ontology universe parsing with NamedTuple"
For the instance validator, change the pattern of multiple variable assignment to use a NamedTuple.

[2020-07-14 23:52] Moult commented on #37
Thanks @charbull - what about IFC?

[2020-07-15 23:13] aidan-parkinson opened #45 "Project has a very ambitious name!"
This is great work. Good to see

However, the word "Ontology" to my understanding implies a high level of validity (to me at least). An example of which might be "energetics" and "quantum mechanics" as two fundamentally different types of observation.

Isn't this really another "Social Construct" representing quite a contextually dependent system of significant inherent bias? Why was the term "Mod

[2020-07-15 23:16] aidan-parkinson commented on #45
As a crude instance of the point, this "Ontology" might not be human understandable if you only speak French.

[2020-07-16 04:47] david-waterworth opened #46 "Examples"
I'm watching this project with interest as it's aligned with my research topic (ML and built environment).

Do you intend on adding some examples? I think that would really help, i.e. a minimal yaml example and perhaps a tutorial on how to validate and generate a DRF. Also, it's not really clear to me what I'd do with the RDF, some notes on the application of RDF would be useful.

And do you inten

[2020-07-16 21:19] charbull commented on #46
Hi @david-waterworth,

Thank you for dropping by,

Can you please use send your questions to this discussion list: google-digital-building-discuss@googlegroups.com

Thank you
Charbel

[2020-07-16 21:19] #46 closed

[2020-07-16 21:26] charbull commented on #45
Hello @aidan-parkinson,

Thank you for dropping by,

The word Ontology is being used recently with the semantic web standards (OWL, RDF).
Various `Ontologies` exist in this domain to represent building/hvac information such as Brick, BOT, and others.
Our work here extends and builds on top of these previous ontologies.

Can you please use send your questions to this discussion list: google-digital

[2020-07-16 21:26] #45 closed

[2020-07-16 23:20] aidan-parkinson commented on #45
Okay, I'm about to get more critical - because I think this is an issue, not a question. I don't understand why this has been closed without answering the question?

I understand the project used OWL. I am not sure that immediately means that a meaningful Ontology has been created. There's a number of examples of unexplained jargon here. For example, how does this project describe what "Building S

[2020-07-16 23:23] aidan-parkinson opened #48 "Ontology is full of jargon"
Okay, I'm about to get more critical - because I think this is an issue, not a question. I don't understand why this has been closed without answering the question?

I understand the project used OWL. I am not sure that immediately means that a meaningful Ontology has been created. There's a number of examples of unexplained jargon here. For example, how does this project describe what "Building S

[2020-07-16 23:57] charbull commented on #37
@Moult Not directly with IFC yet. However, an integration with BIM is possible.

[2020-07-17 15:19] tasodorff commented on #48
The ontology defines all those concepts, and makes inferences about their qualities. For example, `setpoint` is defined in the subfields documents as "Control target of process or system."; static pressure sensors are defined as combinations of these concepts:

There is no doubt that the ontology is filled with jargon, but that jargon is not without definition. Terms are also namespaced to maintai

[2020-07-17 15:19] #48 closed

[2020-07-17 18:37] corymosiman12 commented on #37
@charbull - additional question.  For the most part, Brick and Haystack haven't (to this point) utilized the ontology to provide what I would think of as 'templates', however, this project seems to have taken that on.  Additionally, the ontology appears to include aspects pertinent to the 'control intention' of a specific piece of equipment / etc.  Would you comment on your decisions / reasonings

[2020-07-18 02:20] david-waterworth commented on #37
It seems though that this gets 'lost' when translating to RDF? i.e. an AHU may be composed of the ECONMD 'trait' but when the RDF is generated all the fields from the traits get unioned? It could be nice if they were retained so that in the final representation you can reflect on the type to infer what it supports. I suspect this would require different representations of the same object for diffe

[2020-07-19 00:37] david-waterworth commented on #37
I really like both the composition of subfields - it's pretty much how we tag points as well. Also, the abstract class approach is really nice. I did try and represent a number of AHU's I have data for and found it quite difficult to decide which of the numerous AHU subclasses best represented the equipment though - it requires quite a lot more information about the plant than what you might get j

[2020-07-19 00:47] david-waterworth opened #50 "Citation"
I'm in the middle of a literature review on the current state of building ontologies. I believe `digitalbuildings` warrants inclusion. Do you have any publication, if not it would be nice if you added a citation section to the readme?

Creating a DOI would be nice as well - https://github.blog/2014-05-14-improving-github-for-science/

[2020-07-19 17:53] charbull commented on #50
Hi @david-waterworth it is in the pipe ... for now feel free to cite the repo.

[2020-07-20 01:58] tasodorff commented on #37
Hi David,

We are soon going to be releasing some tooling which will infer the closest AHU (or any other class) match to the ontology from a set of fields defined in a spreadsheet (i.e. from a properly formatted BMS export). Hopefully this will help with application.

In any event, the intention is that the any particular equipment type is built up from core functionality and available telemetry.

[2020-07-20 02:16] david-waterworth commented on #37
Yeah, tooling would definitely help. One challenge is to identify what really is typical as well, it seems that a typical Australian economiser is different to a US one for example (not just in spelling...). You have mixed_air_temperature_sensor as a "uses" but I don't encounter mixed air temperature sensors very often although most if not all of our buildings have an economy mode. What they do ge

[2020-07-20 02:41] tasodorff commented on #37
We support incomplete types, so in this example the economy mode you are describing would be `ECON` even though it's missing mixed air.

We also have versions of econ control that have MAT and MATSTPT as part of their control style, which is distinct from econ controlling to the supply temp (or others that are commonly seen).

[2020-07-20 20:32] #50 closed

[2020-07-21 01:58] david-waterworth opened #52 "Units"
How are units applied? i.e. units.yaml contains different units for flowrate with cubic_meters_per_second as STANDARD. We generally name points "Supply Air Flow" for the standard (our standard measure is l/s) and "Supply Air Flow ms" when there's a meter with a non-standard unit.

I don't see anywhere that units are associated with either fields or equipment, is this something which hasn't been fi

[2020-07-22 02:24] tasodorff commented on #52
The `units.yaml` file indicates which subfields are linked directly to specified units of measurement. Listed under each subfield is a list of equivalent units.  We use SI as outlined in QUDT; it is not intended to be the local standard. For example, in the US we default to CFM for air or GPM for water, or, more to the point, rate of energy transfer (i.e. power) is KW, MBH, THERM/H, etc. depending

[2020-07-22 08:35] aidan-parkinson opened #54 "Building_Air_Static_Pressure_Sensor"
I apologies if my contributions so far have not been received well. It was my intention to make a constructive contribution, but I think I have made some mistakes with the way I have engaged with this so far.

digitalbuildings/ontology/yaml/resources/subfields/subfields.yaml

line 50 - `building: "Applies to the entire building or group of zones within building (e.g. Building_Air_Static_Pressure_S

[2020-07-22 08:44] aidan-parkinson opened #55 "setpoint"
https://github.com/google/digitalbuildings/blob/master/ontology/yaml/resources/subfields/subfields.yaml

line 215 - `setpoint: "Control target of process or system."`

Although Wikipedia and the Collins English Dictionary might suggest otherwise. I believe the tag "setpoint" relates to the English phrase "set-point" as it relates to a target quantity that has been set for a controlled variable.

[2020-07-22 14:43] Ray725 commented on #42
Directly parsing the `ConfigUniverse` object

[2020-07-22 14:43] #42 closed

[2020-07-22 16:19] tasodorff commented on #55
@aidan-parkinson not sure I understand the objection.

From Wikipedia: "a setpoint (also set point or set-point) is the desired or target value for an essential variable, or process value of a system". Our definition of setpoint as "control target for a process or system" seems in line with that.

[2020-07-22 16:46] tasodorff commented on #54
No worries on the contribution comments; from what I've seen of your comments so far we just need more specificity in the feedback.

For building_air_static_pressure_sensor, the intended usage is as a building level pressure sensor (i.e. represents the static in the building); for duct static, the field supply_air_static_pressure_sensor is the common usage (most AHU types use this, for instance).

[2020-07-22 18:40] aidan-parkinson commented on #55
So, I think it's arguable in an Ontology that the term `setpoint` is not a proper use of English here - being a concatenation of a term that implies the tennis meaning.

I believe `set-point` has more of a rigorous foundation from an Ontological perspective. This is because the words `set` and `point` are found in every English dictionary I have looked at, and when used together in this way would

[2020-07-22 18:47] aidan-parkinson commented on #54
I'm sorry. I don't understand how it's possible to have a building level pressure sensor in the space. This would imply that there was no air movement or temperature variation in the building. Seems practically implausible to me.

Please be mindful, that from my perspective, when we talk about an Ontology of Digital Buildings I am looking for rigour in the domain knowledge base. The semantics requ

[2020-07-22 23:40] tasodorff commented on #55
we do not explicitly ban concatenation. we use it for terms like `specificenthalpy`, and it can be used sparingly to encode certain concepts atomically. in general, we look to avoid these types of things, but can support them as edge cases arise.

That being said, `setpoint` is such a ubiquitous term that it is probably fine as a single field. I don't find the dictionary argument to be a compellin

[2020-07-22 23:59] tasodorff commented on #54
It is quite common to have building pressure sensors that aren't zone specific, but rather serve as a reference for the entire building. Not all buildings have zone specific pressure sensing; many older, smaller buildings have one sensor they use to coordinate control. Duly noted on the implication; it is sadly a reality of HVAC controls.

[2020-07-23 08:10] aidan-parkinson opened #65 "Kelvin"
Please could you describe the unit `Kelvin` and why this is tagged as `standard`?

[2020-07-23 08:20] aidan-parkinson opened #66 "Chilled"
I don't think `chilled` water is pure `H2O`. Chilled water is a `solution`.

There's a lot to do here.

[2020-07-23 11:47] aidan-parkinson commented on #55
The underlying issue is how widely this Ontology will be recognised by the community. Presently, I don't recognise this definition of setpoint - neither does the Oxford English Dictionary. The noun `set point` and it's concatenated form is used in sports.

I'm not sure what the point is of releasing a project open-source in this manner if you intend it to be rejected outright by domain experts? No

[2020-07-23 13:41] charbull commented on #55
@aidan-parkinson this project terminology is for HVAC domain experts.
I would like to close this thread as it is not really an issue more of a discussion.

Please send your questions at google-digital-building-discuss@googlegroups.com

Thank you.

[2020-07-23 13:41] #55 closed

[2020-07-23 13:42] tasodorff commented on #55
Merriam Webster, Macmillan, Collins, Dictionary.com, and Wikipedia all define setpoint outside of a tennis setting. Collins specifically defines it as follows: _"(Mechanical engineering: Control, instrumentation and metrology) A setpoint is a state that a control system is aiming to reach."_

Our hope is that domain experts will use it and provide constructive feedback. Considering it was largely

[2020-07-23 14:09] tasodorff commented on #65
See here: http://qudt.org/vocab/unit/K.html

Please see the docs for information on this:

_"While the current ontology configuration does not explicitly call out conversion factors, it generally tries to conform to unit names from QUDT so that their conversion factors can be used. Future development may integrate a unit ontology more directly."_

_"Under each subfield name, the configuration defi

[2020-07-23 14:09] tasodorff commented on #66
what is there to do? what is your suggestion?

[2020-07-23 14:31] aidan-parkinson commented on #66
I'm afraid I am getting tired of this. I have been making very clear indications of genuine issues and suggested improvements to this ontology that are being rejected on the basis of an evidently narrower base of support. I am not getting paid by Google to contribute to this project. I care about this subject matter and the success of the industry, but if this project is being maintained with the

[2020-07-23 14:38] aidan-parkinson commented on #66
What I mean is that the solutions that are being rejected have a broader and deeper basis for support than the ones that are being retained. This makes no sense in maintaining an Ontology.

[2020-07-23 15:03] tasodorff commented on #66
If your suggestion is to narrow `water` to pure substance (i.e. not mixtures) and use `solution` for glycol or other fluid mixtures (e.g. `chilled_water`, `chilled_glycol`, or `chilled_solution`), then please say so; if you are saying that water should always be modified by solution (e.g. `chilled_water_solution`) then please say so. If you are asserting that water -- unless truly 'pure' water --

[2020-07-31 01:51] david-waterworth commented on #52
Do you see the mapping between the actual BMS point to be external to your representation? For example if the application was an overlay over existing BMS(es) you'd need to know what the BMS units were (along with the object identifier/device identifier etc.). Haystack 4.0 for example seems to model the BMS as part of the ontology to some degree - they include tags to indicate if a point has curr

[2020-07-31 15:48] #54 closed

[2020-07-31 15:48] #66 closed

[2020-07-31 15:48] #65 closed

[2020-07-31 16:09] tasodorff commented on #52
The intention is for a translation to exist between our representation and that of the BMS. The code below is an example of what a config might look like (see [here](https://github.com/google/digitalbuildings/blob/master/ontology/docs/building_config.md) for further details):

[code]

There is a mapping of k:v to units that the device can send and what they translate to. In this example, the trans

[2020-08-01 01:42] david-waterworth commented on #52
Thanks that's useful. Also I agree on normalisation of units - in the same way that it's considered best practise to convert timestamps to UTC in the persistence layer and to localtime in the presentation layer.

[2020-08-01 02:01] david-waterworth commented on #52
I'll reopen this rather than create a new issue. I noticed another broken link

https://github.com/google/digitalbuildings/blame/master/ontology/docs/building_config.md#L285

This link is actually broken in the faucetsdn/daq repo as well (i.e. https://github.com/faucetsdn/daq/blob/master/README.md refers to schemas/ and the same readme.md but neither exist in master)

[2020-08-05 16:00] Ray725 opened #84 "Ensure quality of exception handling for instance validator"

[2020-08-05 16:01] Ray725 commented on #84
@berkoben

[2020-08-05 20:31] charbull commented on #84
@Ray725 can you please ad a description

[2020-08-06 14:32] Ray725 commented on #84
Approve the design pattern of exception handling as seen here: https://github.com/google/digitalbuildings/blob/master/tools/validators/instance_validator/instance_parser.py#L83. For this project, any error we see means it's unreasonable to continue running the parser, and thus we immediately throw the error.

[2020-08-07 19:09] charbull commented on #52
Thank you !
Just updated with the new link: https://github.com/faucetsdn/udmi

[2020-08-11 19:21] tasodorff opened #95 "NETWORK (BMS) Namespace Addition"
We currently do not model the BMS (or other network) architectures distinctly from the system they control (e.g. HVAC). It may be desirable in certain deployments to model both the devices being controlled and the controllers themselves as separate entities.

Proposal: Add namespace for BMS (or NETWORK to be less specific) and define types/connections for it.

[2020-08-11 22:08] #52 closed

[2020-08-25 14:09] trettigIO opened #110 "Building Docker with OLGA failes due to missing file or wrong directory"
**Describe the bug**
When trying to built the docker following [this](https://github.com/google/digitalbuildings/tree/master/ontology/rdf/example) example, step 27/30 fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to built the logger with the made settings.

[code]

**Expected Behaviour:**
Building of the docker is successful.

**OS:**
Ubuntu GNU/Linux 18.04 LTS

[2020-08-25 14:13] #110 closed

[2020-08-31 20:25] corymosiman12 opened #113 "Difference between `uses` and `implements`?"
In the generation of RDF from yaml, it appears that when `uses` are declared for a type, this translates into a `rdfs:subClassOf` relationship.  `uses`, however, seem like they should be data properties on a type as opposed to a superclass, where I would expect `implements` to define the superclass(es) for a type.  Can you explain a little bit more how this works / why it works this way?

[2020-10-01 18:29] charbull opened #125 "[Bug] Instance Validator when is called from a different folder"
There is a path bug in the instance validator when it is called from a different folder.

To Reproduce:
[code]
output:
[code]

file content example:

[code]

[2020-10-02 05:54] tasodorff commented on #113
Maybe I am misunderstanding, but I think the way we use those terms does operate the way you are expecting:

[code]

Here is an example from the ontology, where fields are defined on an abstract superclass (parent type in our parlance) and is then inherited by the child device upon inheritance.

[code]

[code]

This is our intention for how it should operate, so if you are seeing an instance somew

[2020-10-02 12:45] corymosiman12 commented on #113
I guess, when I see the `uses` keyword, this to me translates to: 'has a point of the following type(s)', which I would assume means that this 'thing' should have this 'type of property'.  Instead, it becomes a subclass of that thing.

![image](https://user-images.githubusercontent.com/28991233/94924403-71bb5600-048b-11eb-99ac-d6ca69b154ac.png)

Perhaps the confusion comes from the lack of documen

[2020-10-02 15:10] tasodorff commented on #113
@berkoben @charbull  what are your thoughts here?

[2020-10-02 15:18] charbull commented on #113
@corymosiman12 you are correct about the lack of documentation on the RDF part it comes from the fact that we wrote an RDF generator which takes as an input the yaml files and generates an rdf file.

Despite the itching to add additional information in the rdf file to make it more inline with the best practices of rdf and owl modelling. We decided not to do that to keep both yaml and rdf at the sa

[2020-10-02 16:01] berkoben commented on #113
@corymosiman12 good observation about the yaml syntax feeling more OO than linked data.  This was a deliberate design choice in the YAML format intended to make it more accessible to those who don't speak linked data natively.  The intent was always to automate the translation between the YAML configuration and RDF, so authors could deal with something very human-readable, but still convert to lin

[2020-10-02 16:29] berkoben commented on #95
Thinking aloud, this is analogous to how we modeled secure doors where we had a master entity with  has_part connections to subcomponents:  We'd want some type like NETWORKED_HVAC_DEVICE that must have a has_part connection to an EQUIPMENT and a NETWORK_CONTROLLER.  So generally, yes, I support this.

[2020-10-07 04:16] PaulBricknell opened #131 "PID Loop Modeling Clarification"
Looking for additional MQTT Datapoint name (descriptors, etc) for the following  (BMS points) Internal PID loop Variables for AHU, FCU, PACU. There is no current sub fields for say Proportional, Integral, Derivative gain values.

BMS Point name:
Zone Temp HTG PID P gain
Zone Temp HTG PID I gain
Zone Temp HTG PID D gain
Zone Temp HTG PID Interval
Zone Temp CLG PID P gain
Zone Temp CLG PID I gain
Zo

[2020-10-07 07:35] jcbrough commented on #131
Hi Paul,

What is your use case for exposing these settings to the IoT?

Just interested as these properties might be consider as internal working parameters and not 'of interest' at the Cloud level.

But I can see that as this develops these settings might be interesting to Analytical engines. Of course they could always be accessed via AV Objects (in BACnet) where needed and the BMS SIs instruct

[2020-10-07 08:16] PaulBricknell commented on #131
Hi John,
The use case is for UI read only per specification.  The values are already available in BACnet on local BMS.
The project I can see has several FCU and PAC type units, all similar in functionality. So we could look into further analytic rules to assist in loop tuning, unit performance comparisons.

[2020-10-07 18:27] tasodorff commented on #131
We don't have `proportional`, `integral`, or `derivative` yet but the ontology could support it (likely as a `measurement_descriptor`. The only question I would have about this is what form the I and D gains come in. There are two standard ways of PID control that I know of, one where all the parameters (P, I, and D) are dimensionless gains, and alternately where P is a gain and I and D are time v

[2020-10-08 03:22] david-waterworth opened #132 "Generating an instance"
How do you create an instance in RDF? I created a building config YAML file following https://github.com/google/digitalbuildings/blob/master/ontology/docs/building_config.md i.e.

[code]

Running the validator on this works fine. But then I assumed you could pass this file to the `rdf_generator` but the following

`python rdfformat/rdf_generator.py --input=/home/david/dev/digitalbuildings/.data/bu

[2020-10-08 18:47] charbull commented on #132
Hi @david-waterworth

The RDF generator for now takes the ontology types, the ones that are here: [https://github.com/google/digitalbuildings/tree/master/ontology/yaml/resources](https://github.com/google/digitalbuildings/tree/master/ontology/yaml/resources).

We dont support that yet to generate an rdf file from the configuration file.

You can however, follow this example to generate an instance

[2020-10-08 21:48] david-waterworth commented on #132
Thanks @charbull

[2020-10-08 23:22] #132 closed

[2020-10-08 23:22] #113 closed

[2020-10-09 22:55] berkoben commented on #131
Thinking aloud and working through an example, it's not as easy as it seems on face:

[code]
is general (i.e. supports cases where measurement_descriptor is always used), but gain would have to become a point type.
 It's also a sort of strange way of describing it because the gain is not actually on the damper percentage but the difference between flowrate sensor and setpoint.  Would it more corre

[2020-10-20 23:18] david-waterworth commented on #131
subfields.yaml defines both 'damper' and 'controller' as components, which I think makes sense in this case - the gain is an attribute of the controller not the damper itself (i.e. Haystack 4.0 has both equip and device, the damper is an equip and the controller a device). I'm not sure there's any need to specify percentage since I think it's really unitless - you're multiplying the difference bet

[2020-10-22 23:29] berkoben commented on #131
@david-waterworth regarding percentage, the intent was to link the point representing the output `damper_percentage_command` to the loop parameters.  We have some point types (ex: `status`) where the measurement_type is not treated literally.  (ex: in the case of a status, the value is aways an enumeration).

the more I think about it, the more I think the complete set of interactions needs someth

[2020-10-22 23:59] berkoben commented on #37
@corymosiman12 fundamentally the objective of starting this project was to turn scale to our advantage in facilities management.  In the typical (non-templated) model, a portfolio gets increasingly unwieldy as it grows because it's very difficult to keep everything standardized, especially if you're global.

With DBO, the idea was to find a way to abstract away the irrelevant differences between s

[2020-11-12 03:33] corymosiman12 opened #146 "Provide proper end when multiple YAML documents in file"
https://github.com/google/digitalbuildings/blob/d884a086cb9337631a5d1a8127df7ce17be4b7a8/ontology/yaml/resources/fields/telemetry_fields.yaml#L175-L176

Parsers have issue with the above.  Should have:
[code]

[2020-11-20 13:19] amirlad opened #154 "Mappings"
Hello,

I am trying to understand the ontology. However, I found it a little bit complicated but it seems to be interesting.

I would like to know if there are any mappings to Brick, SSN, or SAREF, this may enhance my understanding of the ontology.

Thank you,
Amir

[2020-11-23 11:34] charbull commented on #154
Hi Amir,

There is an rdf ontology version if it helps.
We don't provide a mapping to the other ontologies.

[2020-12-09 16:14] charbull opened #167 "Performance issue with python version higher than 3.6.8"
**Describe the bug**
The Instance validator seems to be having performance issue when used with a python version higher than 3.6.8

**To Reproduce**
Run with python 3.9.1 for example

**Expected behavior**
The validator will take up to 8 min in the phase after:
[code]

**OS (please complete the following information):**
MacOs

[2020-12-15 15:57] charbull opened #176 "Instance validator thread keep listening after the report is published"
**Describe the bug**
Instance validator thread keep listening after the report is published

**To Reproduce**
Steps to reproduce the behavior:
run the validator on the s2 file

**Expected behavior**
After the report is published the instance validator needs to exit

[2020-12-15 23:26] nkilmer opened #177 "Add option to validate an entire directory of YAML files"
We currently support users providing the --input parameter multiple times to validate multiple individual files. It would also be useful to have an --input-dir parameter that lets the user validate an entire directory without individually specifying all the files contained within.

[2020-12-22 02:35] corymosiman12 opened #181 "Distinction between SubField/Measurement/* and Unit/*"
The classes under `SubField/Measurement` and `Unit` are equivalent sets (i.e. all classes are same).  Why is this?

Additionally, in Protege, when I look at `Unit/Concentration` (usages), `parts_per_million` comes up (and confirmed in RDF):

![image](https://user-images.githubusercontent.com/28991233/102842052-547b9100-43c3-11eb-8ef3-0fca62441a68.png)

However, when I then click on the  Concentrat

[2020-12-22 19:12] charbull commented on #167
closing this issue as it seems related to strictyaml.

[2020-12-22 19:12] #167 closed

[2021-01-03 17:37] drewdepriest opened #190 "IBR Demo export button: download not defined"
**Describe the bug**
In IBRSDK demo, trying to export selected floors as separate IBRs. Dev tools shows _Uncaught ReferenceError: download is not defined at HTMLButtonElement._ Files do not download.

**To Reproduce**
Steps to reproduce the behavior:
1. In IBR demo, upload the sample SVL IBR file.
2. Click the _Export_ toggle.
3. Select multiple floors from the _us-svl-tc2-2_ object in sidebar.
4.

[2021-01-05 20:54] drewdepriest opened #193 "Generating type IDs"
When adding new YAML object types, how do you generate the 19-20 digit ID string?

That every id attribute being divisible by 4 would seem to imply it's auto-generated, though I cannot find any such auto-enumerator or other schema within the repo.

Does the validator generate said id string on some kind of merge trigger?

Cheers,
Drew

[2021-01-05 23:27] berkoben commented on #193
Yes, there should be tooling to generate a GUID.  We have it in our backlog to add.

[2021-01-06 17:31] charbull commented on #193
@drewdepriest for now keep it empty string please, we will populate that later.

[2021-01-06 17:35] charbull commented on #181
Hi @corymosiman12 Units and Measurements are not equivalent, they have two different uris
It is coming from yaml model here:
* https://github.com/google/digitalbuildings/blob/master/ontology/yaml/resources/units/units.yaml
* https://github.com/google/digitalbuildings/blob/master/ontology/yaml/resources/subfields/subfields.yaml

The RDF conversion, tries to stay as much conformant as possible to th

[2021-01-06 19:29] kswang2400 commented on #190
Thanks for reporting this issue, Drew! I've opened https://github.com/google/digitalbuildings/pull/196 to fix it, will land it shortly. :)

[2021-01-07 20:34] #190 closed

[2021-01-09 19:23] drewdepriest opened #200 "Question: What is the Carson ontology?"
[Section 3 of the RDF Example README](https://github.com/google/digitalbuildings/tree/master/ontology/rdf/example#3-instantiate-the-ontology-model-with-the-generated-code) alludes to the "Carson ontology" when instantiating business logic.

**Simple question** - where can one learn more about said Carson ontology?

I have exhausted the requisite 30 minutes of phrase searching across the broader we

[2021-01-11 17:55] charbull commented on #200
Hi @drewdepriest there is no `Carson` Ontology, I updated the text to Digital Buildings Ontology
Thanks for the question.

The ontology is here:
https://github.com/google/digitalbuildings/tree/master/ontology

Let us know if you have any questions

[2021-02-03 17:04] #200 closed

[2021-03-05 08:13] oli-barker opened #217 "The instance validator validates connections that are not in defined within the connections.yaml file"
**Describe the bug**
Should the instance validator kick up an error when connections are used in the building_config.yaml file that are not defined within the ~/ontology/yaml/resources/connections/connections.yaml file within the ontology?

**To Reproduce**
Steps to reproduce the behavior:
1. within the building_config.yaml file enter in a connection that is not within defined within the connectio

[2021-03-15 03:23] tasodorff opened #222 "Create additional readme content for new namspaces and update existing MODEL_HVAC.MD"
MODEL_HVAC.MD is out of date (not all general types are included). Add descriptions for all of these.

Also add similar documents for the other namespaces.

[2021-03-19 08:36] conroy-chee opened #224 "Tool to extract the type of the device based on set of point name and entity type"
The instance_validator.py is the python script to validate a building ontology YAML file. In the YAML file, the type of device is compulsory e.g. FCU_DFSS_CSP_CHWDC. This instance_validator.py will validate whether the point name list for a respective device fulfills the requirement.

It is advisable to build a tool to extract the type of a device based on the list of point names of the device and

[2021-03-19 16:58] charbull commented on #224
@conroy-chee can you please remove the pdf, it contains private information that are not meant to be shared here.

Thank you

[2021-03-24 21:42] tasodorff commented on #224
@conroy-chee in progress, see here for preview: https://github.com/google/digitalbuildings/pull/244

[2021-04-20 02:27] conroy-chee opened #250 "Enhancement on ontology_match_lib.py"
Ontology_match_lib.py is great to find the closest type with the proximity level e.g. NONE, CLOSE, INCOMPLETE and EXACT. May I suggest to enhance the tool so it can display the closest set of abstract types?

For example, a FCU consist of the following point:

real_fields = {
    "chilled_water_valve_percentage_command",
    "chilled_water_valve_percentage_sensor",
    "discharge_fan_run_command",

[2021-04-26 04:10] conroy-chee opened #253 "Query about the existing standard point name for the "Remote/Local""
We have been told that the Remote/Local is the important parameter to be stored in the cloud database e.g. firestore. I have tried to search the equivalent point name defined in the telemetry field list, but I could not get any name that matches to it. May I know whether there is an existing name that is pointing to this “Remote/Local”

The value set for this “Remove/Local” SCADA point name is “Re

[2021-05-04 23:04] grafnu commented on #253
I don't think this is a digital-buildings question, it relates to UDMI bits... you should transfer this question over do either udmi-discuss@ or the github issues there (https://github.com/faucetsdn/udmi).

[2021-05-11 16:15] pisuke opened #258 "Share Excel to UDMI / DBO tools on a branch"
1. Define directory for Digital Builder Tool
2. Move code there if partially complete
3. Use scratch for previous code sharing and things that are not likely to be moved to main

[2021-05-11 16:17] pisuke opened #259 "Finalise load sheet template"

[2021-05-11 16:17] berkoben opened #260 "Expand units.yaml and remove units from UDMI"
Francesco to bring up in UDMI working group on 5/12

[2021-05-12 16:09] pisuke commented on #258
Addressed in PR #263

[2021-05-14 00:10] manishnc commented on #190
Hello charbull and Everybody ,

I found index.html (/ibr/examples/html/index.html ) is not working. It is not showing checkboxes when i am uploading files and nither it showing GUI.

First issue :  sudo npm run build  (this command is showing below error) , I have checked installed npm version is 3.5.2

![image](https://user-images.githubusercontent.com/78270452/118201849-5e745e00-b450-11eb-9840-3

[2021-05-14 00:13] manishnc commented on #190
Hello charbull and Everybody ,

I found index.html (/ibr/examples/html/index.html ) is not working. It is not showing checkboxes when I am uploading files and neither it showing GUI.

First issue :  sudo npm run build  (this command is showing below error) , I have checked installed npm version is 3.5.2

![image](https://user-images.githubusercontent.com/78270452/118201849-5e745e00-b450-11eb-9840-

[2021-05-14 00:21] manishnc commented on #190
Hello charbull and Everybody ,

I found index.html (/ibr/examples/html/index.html ) is not working. It is not showing checkboxes when I am uploading files and neither it showing GUI.

First issue :  sudo npm run build  (this command is showing below error) , I have checked installed npm version is 3.5.2

![image](https://user-images.githubusercontent.com/78270452/118202862-b01de800-b452-11eb-91c5-

[2021-05-14 00:22] manishnc commented on #190
Hello charbull and Everybody ,

I found index.html (/ibr/examples/html/index.html ) is not working. It is not showing checkboxes when I am uploading files and neither it showing GUI.

First issue :  sudo npm run build  (this command is showing below error) , I have checked installed npm version is 6.14.13

![image](https://user-images.githubusercontent.com/78270452/118202862-b01de800-b452-11eb-91c

[2021-05-25 09:25] oli-barker opened #268 "Instance Validator - Bugging out"
**Describe the bug**
When i run instance validator against an building_config.yaml file I now get the following error output error:

oli@zerocool:~/temporary/digitalbuildings/tools/validators/instance_validator$ python3 instance_validator.py -i /media/sf_shared/Building_Config_Test.yaml
Starting validator...
Starting universe generation...
Starting config validation...
Loading config files...
Vali

[2021-05-25 16:40] berkoben opened #269 "Make a list of the generalized data concepts that are needed to map a point / device / system"
note: divide concepts by point and entity

[2021-05-26 17:15] tasodorff commented on #250
i will take a look next week and see if i can add it. A bit more complex than the regular type match, but there may be a way.

[2021-06-02 14:15] charbull commented on #268
Can you please run the following:

python3 setup.py install

First in digitalbuildings/tools/validators/ontology_validator

then in the instance validator

[2021-06-02 14:15] #268 closed

[2021-06-24 05:24] shreyasnagare opened #274 "OWL.disjointWith axiom violations"
**Describe the bug**
[Disjoint classes](https://www.w3.org/TR/owl-ref/#disjointWith-def) have extensions in common.

**To Reproduce**
[code]

[code]
[code]

**Expected behavior**
[code]

**OS:**
macOS Big Sur v11.4

[2021-07-05 06:27] conroy-chee opened #281 "Instance_validator cannot return type if is_canonical: true is undefined"
The instance_validator cannot generate the type if is_canonical: true is undefined. How can let it generate type even though is_canonical is not present?

With is_canonical: true
![image](https://user-images.githubusercontent.com/80947411/124426566-cbdfa380-dd9c-11eb-98f9-11b7f2d60a9c.png)

Without is_canonical: true
![image](https://user-images.githubusercontent.com/80947411/124426698-faf61500-dd

[2021-07-06 23:41] charbull commented on #281
@tasodorff will assign this one to you

[2021-07-07 00:09] tasodorff commented on #281
There is no way except to declare the type canonical. This is intended behavior; we do not want to match instances of non-canonical types, and therefore any type that is not canonical will not get automatically matched.

[2021-07-26 17:29] pisuke opened #290 "Brightness is a measurement not a measurement descriptor"
@tasodorff @charbull I think [brightness](https://github.com/google/digitalbuildings/blob/17cd918512f052c5f4815292cda7246e50d08ac0/ontology/yaml/resources/subfields/subfields.yaml#L199) should be moved to measurement and not be a measurement descriptor.
Thoughts?
Thanks,
F

[2021-07-26 17:31] pisuke commented on #290
Also "saturation" should be a measurement and not a measurement description.

[2021-07-26 17:51] pisuke opened #291 "Missing charge measurement"
There is a [`battery_charge_status`](https://github.com/google/digitalbuildings/blob/fba9a8f90cd952c606386799c7e8a1940b779d5e/ontology/yaml/resources/LIGHTING/entity_types/ABSTRACT.yaml#L57) in an entity type field, but the charge measurement is missing in the subfields.

[2021-07-28 23:27] pisuke opened #297 "Feature request: allow aliases for physical quantities"
**Describe the bug**
At the moment one unit is mapped only to one physical quantity name.
However there are many cases where a unit can measure physical quantities with different aliases.
For instance meters can measure length, height, level, etc.
There are also many adimensional quantities that would map to no_units (typically ratios and factors, like power factor or daylight factor).
I suggest t

[2021-08-02 04:02] tasodorff opened #300 "Consider converting DFR to a class of AHU"
The duct furnaces currently observed are essentially AHUs with heating-only (and in observed instances some type of recirc damper).

They handle outside air and return air, and meet the current definition of an AHU. Either propose an additional rule for distinguishing DFR from AHU, or consolidate.

[2021-08-02 09:11] pisuke commented on #297
@charbull @tasodorff @berkoben this is now very urgent in projects needing especially adimensional units for measurements like currentratio as also noted in #298

[2021-08-02 14:16] charbull commented on #297
@pisuke would like to propose a pull request for this bug?

[2021-08-02 18:26] charbull commented on #297
@pisuke any chance you can submit a pull request for this feature? or you dont want to touch the code ? :)

[2021-08-02 18:33] charbull commented on #297
@pisuke discussed internally needs brainstorming/discussion, please bring it up in our meeting on thursday for discussion

[2021-08-03 10:47] pisuke commented on #297
@charbull sure, I thought we had agreed that adding the alias and relaxing the validator checks was the way forward, but let's discuss it again.

[2021-08-09 17:46] charbull commented on #297
@pisuke is there an update on this?

[2021-09-27 21:07] tasodorff opened #345 "Make the type validator outputs better"
**Describe the bug**
The ontology validator does not help the user to understand build failures because of the way it presents errors to the user.
For example:

`ERROR : Unit "meters_per_square_second" has the unknown measurement type "linearacceleration"`

What is the error? Is it with meters_per_square_second or with linear_acceleration? Pretty unclear. It also gives no guidance about what to fi

[2021-09-28 04:06] tasodorff opened #349 "States do not support 1:many mapping"
Certain devices send multistate data that should be mappable to the same standard state in DBO. Here is an example:

[code]

The instance validator does not support this type of 1:many definition for standard states; it will be necessary to modify it to support this mapping.

[2021-10-01 00:15] mschulze17 commented on #84
Closed per review with Trevor

[2021-10-01 00:15] #84 closed

[2021-10-01 00:18] mschulze17 commented on #37
Closed per review with Trevor

[2021-10-01 00:18] #37 closed

[2021-10-01 00:20] mschulze17 commented on #95
Closed per review with Trevor

[2021-10-01 00:20] #95 closed

[2021-10-01 00:22] mschulze17 commented on #125
@charbull, mind confirming this is fixed?

[2021-10-01 00:23] mschulze17 commented on #131
@tasodorff tagging you

[2021-10-01 00:25] mschulze17 commented on #146
Reviewed, deprecated, this has been fixed

[2021-10-01 00:25] #146 closed

[2021-10-01 00:27] mschulze17 commented on #154
Closed, there is no issue

[2021-10-01 00:27] #154 closed

[2021-10-01 00:28] mschulze17 commented on #176
@charbull - can we get an update on this Issue?

[2021-10-01 00:30] mschulze17 commented on #181
@charbull - can we get an update?

[2021-10-01 00:32] mschulze17 commented on #193
@berkoben & @charbull - should we add this to the backlog?

[2021-10-01 00:33] mschulze17 commented on #217
@charbull - is this resolved?

[2021-10-01 00:34] mschulze17 commented on #222
Done, no other namespaces to discuss at this time

[2021-10-01 00:34] #222 closed

[2021-10-01 00:35] mschulze17 commented on #224
Deprecated by Explorer

[2021-10-01 00:35] #224 closed

[2021-10-01 00:39] mschulze17 commented on #253
Solved

[2021-10-01 00:39] #253 closed

[2021-10-01 00:39] mschulze17 commented on #259
This will be done with Concrete Model development

[2021-10-01 00:39] #259 closed

[2021-10-01 00:40] mschulze17 commented on #260
@pisuke - what's the status of this? (asking for Trevor)

[2021-10-01 00:41] mschulze17 commented on #269
Closed. Trevor is angry because this is not specific.

[2021-10-01 00:41] #269 closed

[2021-10-01 00:42] mschulze17 commented on #274
@charbull - what's the status on this?

[2021-10-01 00:43] mschulze17 commented on #281
Closed based on Trevor's comment above

[2021-10-01 00:43] #281 closed

[2021-10-01 00:45] mschulze17 commented on #291
Fixed

[2021-10-01 00:45] #291 closed

[2021-10-01 00:47] mschulze17 commented on #297
@charbull - has this been solved?

[2021-10-01 15:39] charbull commented on #125
@mschulze17  I am not sure, we need to try it out.

[2021-10-01 15:39] charbull commented on #176
@mschulze17 this has not been fixed, it will be good to bring it to our next sprint.

[2021-10-01 15:41] charbull commented on #181
@mschulze17 backlog, P3 bug

[2021-10-01 15:42] charbull commented on #193
@kswang2400 is working on it in the current sprint

[2021-10-01 15:43] charbull commented on #217
Not yet, P2 bug

[2021-10-01 15:44] charbull commented on #274
P3 bug please bing into backlog

[2021-10-01 15:45] charbull commented on #345
@mschulze17 this is an important one to make the user figure out what are the errors.

[2021-10-01 15:45] charbull commented on #297
yes this is resolved. I am closing it

[2021-10-01 15:45] #297 closed

[2021-10-01 15:46] charbull commented on #290
@pisuke can you send a pull request please?

[2021-10-01 16:44] dplute commented on #125
I was able to run the instance validator from any folder, using either a relative or absolute path to instance_validator.py.  However, I had to adjust the input data to get validation to pass:
- Change the entity names to uppercase.
- Remove the ``` at the end.
- Move the building config file out of the ontology/yaml/resources folder.

[2021-10-01 20:01] mschulze17 commented on #125
@charbull, assigning back to you following Daley's note above

[2021-10-04 16:11] #125 closed

[2021-10-04 16:15] #349 closed

[2021-10-05 18:07] #176 closed

[2021-10-05 19:00] cstirdivant opened #365 "Organize the HVAC/ABSTRACT types"
Organize ABSTRACT types by function. Ex: all DX types should be in the same section, all SF types should be in the same section

[2021-10-05 19:02] cstirdivant commented on #365
Assigned to @cstirdivant

[2021-10-09 04:31] kaunal opened #368 "Unable to setup instance validator"
**Describe the bug**
When installing the dependencies for the instance validator, the following error appears:

`error: Setup script exited with error: command '/usr/bin/x86_64-linux-gnu-gcc' failed with exit code 1`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `digitalbuildings/tools/validators/instance_validator/`
2. Run `python3 setup.py install --user`
3. Error shows for the fol

[2021-10-14 01:37] kaunal commented on #368
Thank you Charbel, pull request was successful. Am using python 3.9, no
downgrade needed due to the pull.

On Tue, Oct 12, 2021 at 3:02 PM Charbel kaed ***@***.***>
wrote:

[2021-10-16 07:07] gkielian commented on #368
Hi @trav3711 , looks like I'm getting the same error messages as @kaunal when going through these steps. I double checked and python3-dev is already installed.

[2021-10-21 14:05] tasodorff commented on #345
Another example:

`ERROR : Field "water_leak_sensor" is not a valid construction`

Why? The user shouldn't have to guess.

[2021-10-21 14:16] tasodorff opened #387 "Kill Validator After First Failure"
The following is the result of the ontology validator.

[code]

The second error is redundant and confusing.

A few options:

1. Make the validator execute in an order and surface like errors together (e.g. evaluate all failed fields, if errors then surface them all then stop).
2. Kill the validation after the first error.

[2021-10-22 02:40] tasodorff opened #389 "Add ontology validator logic to enforce states for `alarm` point type."
The point type alarm is multistate, and therefore requires state definitions. Update the logic of the validator to enforce this.

[2021-10-22 03:03] tasodorff opened #390 "Ontology Validator Not Surfacing Warning For Abstract Type Comparison"
Bug appears: #369

New proposed abstract type `HVAC/RHDHS` matches existing abstract type `HVAC/RHDHC` except for one inherited type (which contains no fields) and one optional field. I would expect the validator to suggest these two types differ by that one field, but the validator results for the PR omit it.

Please determine why this was missed, and if this is expected behavior; please also sug

[2021-10-22 06:17] tasodorff opened #391 "Add ID Information To Docs"
Users are confused on what to do with IDs. We have not specified what to do with IDs (should users generate their own, reuse existing, or omit them?). Update the docs to describe what to do with entity type IDs.

[2021-10-22 16:23] tasodorff opened #393 "Add Aggregation Descriptors To Docs"
The docs are outdated with the addition of aggregation descriptors. Update the docs to add this.

[2021-10-22 16:34] #390 closed, assigned to nobody

[2021-10-27 08:15] a-o-u opened #399 "Can't send multistate value as string?"
**Describe the bug**
Our gateways are configured to send the multistate value as a string in the telemetry.

When running the telemetry instance validator, sending (multistate) value as a string produces an error.

**To Reproduce**
Instance Config (note that the translation for each of the states is itself):
[code]

Telemetry:
[code]
Error:
[code]
***
The below is also invalid
[code]

Telemetry:
[

[2021-10-27 18:27] #393 closed, assigned to nobody

[2021-10-28 20:01] charbull opened #407 "Map structure raises an error in connections"
**Describe the bug**
Syntax parsing fails on map within `connections`

**To Reproduce**
Steps to reproduce the behavior:
[code]
This fails while the following passes:
[code]

**Expected behavior**
Both forms are acceptable syntax

[2021-10-28 21:54] #407 closed, assigned to nobody

[2021-10-29 21:15] #399 closed

[2021-11-16 11:39] gerrykou opened #418 "Subfield suggestion flap for HVAC indoor DX units"
Do you think worth including flap or another word , for HVAC indoor DX unit moving flaps, used to control airflow  - direction.
flap_mode(start / stop)

Instead damper can be used that is already in subfields, but dampers use to control airflow - volume etc and have position as control point.

[2021-12-08 02:09] Terry-Ter opened #435 "TPKD Point name inclusive query"
Hi, we were discussing the mandatory points for digital building ontology. We would like to seek your opinion about the necessity of point for a certain type of device. This would greatly reduce the time in creating new type. Thank you.

**Pump**

Please help to verify whether the following is necessary:
	Reset Alarm
	SIMULATION ON
	OFF_AL
	ON_AL
	RUN_TIME
	Moto_power
	Moto_voltage
	Moto_c

[2021-12-21 06:48] conroy-chee commented on #435
hi @tasodorff , could you help to review this question? Thank you.

[2022-01-05 19:31] mschulze17 commented on #177
@charbull, should this be re-assigned?

[2022-01-05 19:31] mschulze17 commented on #250
@tasodorff bump

[2022-01-05 19:32] charbull commented on #177
I think it is supported, Travis can check please ?

[2022-01-05 19:40] mschulze17 commented on #387
@tasodorff bump

[2022-01-05 19:44] mschulze17 commented on #131
@tasodorff bump on next steps for this Issue

[2022-01-05 20:09] trav3711 commented on #177
@charbull This functionality is not currently supported.

[2022-01-05 20:25] charbull commented on #177
Thank you for looking !
It needs to be reassigned. Probably a P3 for now ?

[2022-01-06 00:14] #250 closed

[2022-01-06 00:14] tasodorff commented on #250
this is fairly complex, and the new ontology explorer should cover most of the need for type matching.

[2022-01-06 00:17] tasodorff commented on #387
we need to perform certain checks that have dependencies all at once (are all fields valid? if not, find all invalid fields then stop; dont give me all the subsequent errors that result from the fields not being valid -- those arent real issues).

[2022-01-15 00:31] tasodorff commented on #435
Of those fields listed, here is what i would bring in:

 Reset Alarm *NOT NEEDED*
 SIMULATION ON *NOT NEEDED*
 OFF_AL *NOT NEEDED*
 ON_AL *NOT NEEDED*
 RUN_TIME *NOT NEEDED*
 Moto_power compressor_power_sensor
 Moto_voltage *NOT NEEDED*
 Moto_current *compressor_current_sensor*
 Moto_torque *NOT NEEDED*
 Moto_rpm *NOT NEEDED*
 Moto_heat_load *compressor_thermal_cooling_sensor*
 Vfd_dc_

[2022-01-24 09:34] ghairapetian opened #460 "AHU with smartready fans"
### Discussed in https://github.com/google/digitalbuildings/discussions/454

<div type='discussions-op-text'>

<sup>Originally posted by **ghairapetian** January 14, 2022</sup>
Hello,

I have an AHU with 2 fans that communicate separatly to GCP.

I made an example to check how I can model that.

[code]
Unfortunatly, the instance validator told me that **supply_air_static_pressure_sensor** and **su

[2022-02-01 18:22] mschulze17 commented on #460
@tasodorff PTAL and let me know action item(s)

[2022-02-01 21:54] mschulze17 commented on #131
Closing Issue, converting to Carson Backlog item

[2022-02-01 21:54] #131 closed

[2022-02-01 21:59] mschulze17 commented on #177
Converted to Carson Backlog item, closing

[2022-02-01 21:59] #177 closed

[2022-02-07 13:41] RathishKJ opened #486 "Add a new point name for the "supply fan VFD/bypass status""
Hello,

For supply fan VFD/bypass status as point descriptor, in AHU, there is no existing data point available in the Github.
New data point has to be created which is **supply_fan_bypass_status**
This is created using the existing sub fields as below

    Descriptor: Supply
    component: Fan
    Measurement: Frequency
    Point Type: Status
    Please validate this and add this in the github.

[2022-02-11 19:54] tom-skoczylas opened #492 "Validator install issue"
**Describe the bug**
Unable to continue the steps to install instance validator. Issue occurs on step 2 "Run python3 setup.py install from digitalbuildings/tools/validators/ontology_validator.", using Python 3.10.2 version.

**To Reproduce**
Steps to reproduce the behavior: (Start going through the installation steps on Instance Validator page.)
1.  "Run 'python3 -m pip install --upgrade pip setup

[2022-02-12 00:20] mschulze17 commented on #486
@tasodorff - PTAL and advise on action

[2022-02-15 00:12] tasodorff commented on #486
Hi @RathishKJ , this can be done by extending the ontology in a PR. Please submit a pull request and we will merge this.

[2022-02-15 00:12] #486 closed

[2022-02-15 00:14] tasodorff commented on #460
@dplute please take a look and see if this is a validation error. From the definition above, everything looks correct.

[2022-02-15 00:15] tasodorff commented on #435
@Terry-Ter does this answer your question?

[2022-02-15 00:19] tasodorff commented on #391
@charbull are we almost ready to deprecate this? If so, lets get that as a task @mschulze17.

[2022-02-15 00:19] tasodorff commented on #389
@mschulze17 please add a task to the back log.

[2022-02-15 00:23] tasodorff commented on #391
in the back log, will track there

[2022-02-15 00:23] #391 closed

[2022-02-15 00:23] #389 closed

[2022-02-15 00:24] #387 closed

[2022-02-15 00:25] tasodorff commented on #387
in the backlog

[2022-02-15 00:29] tasodorff commented on #300
@cstirdivant does this make sense to you? Argue with me.

[2022-02-15 00:31] tasodorff commented on #290
@pisuke for `saturation` and `brightness`, what would the units be?

We can open a PR and fix this, but we will also need to see if this breaks anything that has already been defined in Carson.

[2022-02-15 00:32] #274 closed

[2022-02-15 00:32] tasodorff commented on #260
@pisuke is this related to your PR? If so I will close and we will finish the PR.

[2022-02-15 00:33] #217 closed

[2022-02-15 00:33] tasodorff commented on #217
moved internally to backlog

[2022-02-15 00:34] tasodorff commented on #181
in the backlog

[2022-02-15 00:34] #181 closed

[2022-02-15 01:12] dplute commented on #460
An entity cannot have both `translation:` and `links:`. In this situation, you would need one entity for each of the reporting devices with `translation` plus one virtual entity that `links` to both of them to form a complete AHU.

[2022-02-15 01:32] cstirdivant commented on #300
I agree we can consolidate, however I would not consider all DFRs part of the AHU class. Many units that are currently implementing DFR types do not handle the outside air themselves, but are instead recirculating return air (with bypass) or receiving air from a common header (supplied by DOAS).  For this reason, I suggest we reclassify into AHU, CU, and FCU classes as needed.

[2022-02-15 03:13] Terry-Ter commented on #435
HI Trevor, yes it answered the question and the points that are not needed are removed

[2022-02-15 03:13] #435 closed

[2022-02-15 10:25] gerrykou commented on #418
@tasodorff I was talking about the blades that are responsible for the up/down swing in split units
https://www.fujitsu-general.com/shared/g-eu/img-0000-split-floor-double-auto-swing-01.png

[2022-02-15 14:40] ghairapetian commented on #460
Thank you for the answer. I thinked about that for weeks and knowing that I have a few hardwired points that I can get from my SmartReady fans on my AHU controller, I will model a complete AHU directly on one hand with basic command and status for the fans, and 2 fans with HAS_PART relation to my AHU for the remaining additional points (frequency, and so on). If it's ok of course.

[2022-02-15 17:34] tom-skoczylas commented on #492
To fix this issue, replace all instances of 'python3' with 'py'.

[2022-02-15 17:34] #492 closed

[2022-02-16 04:55] RathishKJ opened #500 "request for addition of asset abbreviation in the BDNS"
Hello,

There are equipment that are not abbreviated in the BDNS. We are proposing the abbreviations also along with the asset name. Please provide inputs or concurrence to proceed to initiate the pull request for the same.

1.Ceiling Suspended unit--> CSU
2.Exhaust Dry Scrubber Unit--> DSU
3.Air Purifier Unit--> APU
4.Air Washer Unit--> AWSH
5.Vaporizer Panel - Gas temperature is monitored throug

[2022-02-16 08:14] ghairapetian commented on #460
It's ok for me, thank you again :)

[2022-02-16 08:14] #460 closed

[2022-02-23 02:36] charbull commented on #500
@tasodorff @mschulze17 ptal

[2022-02-23 06:59] RathishKJ opened #502 "Request for creation of new datapoints"
Hello,

I have noticed that there is no availability data point for the below mentioned Point types in the Github. I have created the data point names accordingly and please provide your concurrence to proceed further to raise a pull request for the same.

1 )  AHU Runtime --> run_time_accumulator
2 )  Alarm Reset --> release_status
3 )  Ambient   CO2, temperature & humidity Sensor --> outside_air

[2022-02-23 15:43] charbull commented on #502
@mschulze17 fyi

[2022-02-25 03:37] tasodorff commented on #502
Hi @RathishKJ

I have some notes for you here regarding your suggestions in bold. Please also consider that not every field in the BMS needs to be modeled here, particularly alarms. Some of these will require some additional information in order for me to give you better guidance.

A few general notes though:
- You should also check that for certain equipment (like the drain pumps) that they requi

[2022-02-25 03:44] tasodorff commented on #500
@RathishKJ the BDNS is maintained separately; if you wish to extend it, please make your requests in an issue there: https://github.com/theodi/BDNS/issues

If you wish to add these to the Digital Buildings Ontology (this repository) you will need to provide information regarding what these units are, and how to distinguish them from one another.

For example, a CSU sounds an awful lot like a FCU.

[2022-02-25 03:44] #500 closed

[2022-02-25 03:52] tasodorff commented on #418
Oh interesting. What modes do these blades operate in? Is there another document you can link me that describes the behavior? I think I would be okay with `blade` but I want to think about it in the context of a specific device.

[2022-02-28 12:56] ghairapetian opened #505 "The instance validator reject an apparant well formed instance"
**Describe the bug**
The instance validator reject an apparant well formed instance

**To Reproduce**
Launch the instance validation script on this instance :

[code]

**Expected behavior**
Instance validator script should validate all the entities.

**Screenshots**
![image](https://user-images.githubusercontent.com/83808569/155986988-a341b61c-b400-4e07-bde3-8a7a89fdaf88.png)

**OS (please complet

[2022-02-28 18:18] mschulze17 commented on #260
PR 422 merged, closing Issue

[2022-02-28 18:18] #260 closed

[2022-03-04 17:33] trav3711 commented on #505
@ghairapetian it looks like you are using incorrect units for your `energy_accumulator`. `watt_hours` is not a standardized unit and standardized units can be found [here](https://github.com/google/digitalbuildings/blob/master/ontology/yaml/resources/units/units.yaml)

[2022-03-07 16:15] ghairapetian commented on #505
Hello,

The watt_hours unit was suppressed 5 days ago by the last commit (copybara)
Actually, this commit also suppressed a unit that I had added in a previous Pull request (liters_per_hour)
I have tested again with the new master branch and it works if I add the unit watt_hours. I will create a pull request for that.

Thank you very much !

[2022-03-07 16:15] #505 closed

[2022-03-08 16:26] RathishKJ commented on #502
9 ) Drain Pump Auto/ Manual Status -->condensate_water_pumpcontrolmode
rathish: pump control mode needs to be split as pump_control_mode. But this violates the chronology of the categories.
(<AssetAbb>-<Instance>_)(<Agg>_)?(<descr>_)*(<component>_)?(<meas. descr>_)?(<meas>_)?<PointType>(_<num>)
**control** is part of the descriptor. Then the data point name will be condensate_water_control_pump_mo

[2022-03-30 19:33] tom-skoczylas opened #520 "Bayview domestic water systems (DWST) with water to water, water source heat pumps"
**Problem**
The domestic water systems for the Bayview buildings have domestic water systems (DWST), each with two water to water, water source heat pumps. The available points are the heat pump enable, hot potable leaving hot water temperature sensor, and a common potable hot leaving water temperature setpoint, as indicated in screenshot below.

**Screenshot**
![BV100_DWST_WSHPs](https://user-ima

[2022-04-08 19:41] ahemphill opened #530 "Deserialization fails if a lone entity is expressed in the new format"
**Describe the bug**
If a .yaml configuration file contains a lone entity in the old format (name as primary key), `validator.handler.Deserialize()` returns a single-entry dictionary as expected. If the same entity is expressed in the new format (GUID as primary key), however, the method returns an empty dictionary.

**To Reproduce**
Steps to reproduce the behavior:
1. Save the following as `old_f

[2022-04-08 21:39] RathishKJ opened #531 "Request for adding data point naming for the landlord systems"
Hello,

Please provide concurrence to enable pull requests for the below ontology which are not available in the telemetry fields.

1. supply_water_pressure_sensor--> This is basically for the water tank (to measure the Line Pressure in Main Header in Main  common line  which is being used for Hydrant  and Sprinkler)
2. potable_water_tank_level_status --> this is to measure the water level of the

[2022-04-12 03:06] tasodorff opened #537 "Ontology Explorer Updates"
Some ideas for ontology explorer enhancements, to aid in the workflow:
1. Allow the ontology to be rebuilt without closing the app.
2. Reduce the number of inputs needed to do type comparison (all the little pop-up options should be refactored).

[2022-04-12 15:09] mschulze17 commented on #418
@tasodorff ping

[2022-04-13 20:32] charbull commented on #530
closing after the fix

[2022-04-13 20:32] #530 closed

[2022-04-19 18:28] tasodorff commented on #531
Some comments on the proposed fields above:

**Good with these:**
- `supply_water_pressure_sensor`
- `oil_temperature_sensor`
- `oil_pressure_sensor`
- `high_speed_status`: fine with this, assuming it has states of `ON` and `OFF`
- `low_speed_status`:  fine with this, assuming it has states of `ON` and `OFF`
- `battery_voltage_sensor`: this is acceptable as long as the battery is modeled as part o

[2022-04-19 18:52] tasodorff commented on #520
@tom-skoczylas think we've discussed this, and im fine with this as a one off for now. please add a TODO comment above the device for us to go remove this thing if we get more examples of such a water-to-water heat pump; might also be worth us discussing internally what this device should be called, because HP is technically correct but we generally consider them to be airside devices. we would ne

[2022-04-20 19:21] dheeju143 opened #547 "Validator Tool is issue"
Hi i have noticed that validator Tool having some issue. below i have got the errors kindly help me out what is the way to troubleshoot

`python3 toolkit.py -i /home/google/digitalbuildings/tools/automation/YAMLFILES/KEF.yaml --generate
`

  File "/home/dheeraj/validator/digitalbuildings/tools/toolkit.py", line 27, in <module>
    from validate import handler
  File "/usr/local/lib/python3.9/dist-

[2022-04-20 23:29] tasodorff commented on #502
i think it might be more productive to break this down by system (or at least namespace) so we can discuss the additions in groups.

2 ) Alarm Reset --> release_status (I assume this clears the alarm? If so it is not needed; if you really want it, it needs a better name -- specifically because its unclear what is being released, and status is a feedback; you would need to call it something like al

[2022-04-21 15:21] trav3711 commented on #547
Hi @dheeju143, are you using a Windows operating system?

[2022-04-21 17:17] dheeju143 commented on #547
Hi @trav3711 Thanks for reply,

Am using Windows 11 Pro and python version 3.10.1. Yes I have successfully run the global_setup.bat

Attached the screenshots for reference issue below.

![sc1](https://user-images.githubusercontent.com/86141162/164515162-52401ea3-92ed-44de-b242-d9dacd7f56d3.png)
![sc2](https://user-images.githubusercontent.com/86141162/164515172-2b587ad1-c5a2-417d-b91d-b92d550e069b

[2022-04-25 15:09] ahemphill opened #551 "Deserialization fails if a lone entity's key includes a space character"
**Describe the bug**
If a .yaml configuration file contains a lone entity whose key does not include a space character, `validator.handler.Deserialize()` returns a single-entry dictionary as expected. If an entity with the same attributes is keyed under a value which includes a space character, however, the method returns an empty dictionary.

**To Reproduce**
Steps to reproduce the behavior:
1. S

[2022-04-25 19:13] trav3711 commented on #547
Hi @dheeju143 I apologize for the delay. I am having trouble replicating your error, so there are two bits of advice I can offer that might get you out of this.

The first is to downgrade your Python version or ensure that you're running with Python 3.7.7. This is the latest LTS Python version that we know works with our setup script. Another solution is to run out tooling on a linux machine if yo

[2022-04-25 21:33] ahemphill commented on #551
The deserializer also appears to dislike slash (`/`) characters.

[2022-04-25 22:40] tasodorff commented on #418
@gerrykou I think either `louver` or `blade` would be appropriate; since `louver` seems more specific, I think that is what we should go with (`blade` could refer to any sharp edge, and it might be too confusing to add a specific definition to it).

Please proceed with `louver`.

[2022-04-25 22:40] #418 closed

[2022-04-25 22:43] #520 closed

[2022-04-26 05:00] dheeju143 commented on #547
@trav3711  I have updated 3.10.1 to PY- 3.10.4 and works fine on Windows 11 pro.

Thank you very much. @trav3711

[2022-04-26 05:00] #547 closed

[2022-04-26 11:14] edgsousa opened #556 "Learning material not accessible"
The learning modules links on README are not accessible.

[2022-04-26 17:30] tasodorff commented on #556
@edgsousa thanks for pointing this out. we are looking at alternatives to the slide deck, since it seems we cannot share those publicly outside Google. I will close this issue when we have converted the documents over to a format that you should be able to view.

[2022-04-26 17:30] charbull commented on #556
Thx for letting us know, we are working around it.
Thank you

[2022-04-26 18:59] charbull commented on #556
@edgsousa issue resolved, please take a look.

[2022-04-26 18:59] #556 closed

[2022-04-27 09:18] RathishKJ commented on #531
Good with these:

    supply_water_pressure_sensor --> Ok
    oil_temperature_sensor --> Ok
    oil_pressure_sensor --> Ok
    high_speed_status: fine with this, assuming it has states of ON and OFF -->Ok
    low_speed_status: fine with this, assuming it has states of ON and OFF--> Ok
    battery_voltage_sensor: this is acceptable as long as the battery is modeled as part of the generator; if you

[2022-04-27 10:06] RathishKJ commented on #502
27 ) Room temperature setpoint local override -->zone_air_override_temperature_status:
Rathish: This is the manual change in the set point that is being done on the field in the thermostat or from the BMS software. Since it is a command we give to change the setpoint. We recommend zone_air_override_temperature_command
TS: If you are passing a temperature value, then it would be a setpoint; if you

[2022-04-28 14:00] teamcity-vayandata opened #565 "Validation problem with units that exists"
**Describe the bug**
I use the validation script on a yaml file but I got a error on 2 units whereas those units exists in units.yaml

**To Reproduce**
Launch the validation script on the attached yaml
**Expected behavior**
The validation script write that there is a unit problem
**Screenshots**
![image](https://user-images.githubusercontent.com/104447233/165768886-246aa1ef-e453-48ac-9443-de0a6be3

[2022-04-29 23:45] trav3711 commented on #551
Both of bug fixes have been merged.

[2022-04-29 23:45] #551 closed

[2022-04-29 23:48] trav3711 commented on #565
@teamcity-vayandata We have updated the ontology to how reactive and apparent power units should be formatted. For your instance to pass the instance validator, please update the standard unit as such:

[code]

[2022-04-29 23:49] #565 closed

[2022-05-02 15:31] ahemphill commented on #551
Thank you!

[2022-05-10 15:20] ghairapetian opened #589 "How to manage speed mode"
Hello,

I have a warm air curtain with 6 differents speed mode (0, 20, 40, 60, 80, 100)%

The telemetry field discharge_fan_speed_mode mention the following :
  - AUTO
  - LOW
  - MEDIUM
  - HIGH
  - OFF
  - VFD

that does not correspond to my needs. However, in my case, it's a fan on discharge side, and it runs with speed mode. So I can't really create a new telemtry with a new name.

How can i r

[2022-05-12 17:13] prajgujarathi opened #594 "How to set _config_mode"
**Describe the bug**
I keep getting errors on valid YMAL files saying KeyError: 'No valid _config_mode is set' when trying to validate using instance_validator

**To Reproduce**
Steps to reproduce the behavior:
Go to folder digitalbuildings\tools\
try validating the file using the validator using the command py .\toolkit.py --input file-path -v

**Expected behavior**
It errors out with error:
-py3

[2022-05-18 09:08] charbull commented on #594
Can you please start with an example from here:
https://github.com/google/digitalbuildings/tree/master/tools%2Fvalidators%2Finstance_validator%2Ftests%2Ffake_instances%2FGOOD

[2022-05-18 17:16] trav3711 commented on #594
@charbull Isn't the config_metadata block necessary? @prajgujarathi try validating with:

[code]

[2022-05-24 17:36] prajgujarathi commented on #594
Yes, it did. Thank you.

[2022-05-24 22:20] trav3711 commented on #594
Great. Closing issue.

[2022-05-24 22:20] #594 closed

[2022-05-24 22:26] charbull commented on #594
fyi: the initialize is the default setup, it is not required.

[2022-05-26 05:44] tasodorff opened #605 "Add Component Descriptor Subfield Type"
There are instances where components require their own descriptors, similar to measurement descriptors. Consider adding them and refactoring the way certain fields are implemented.

For example: `evaporator_fan_run_command`, where `evaporator` is a component descriptor for `fan`; alternatively, consider allowing multiple components, where `evaporator` and `fan` would both be components.

[2022-06-01 19:11] allstar-app[bot] opened #607 "Security Policy violation Binary Artifacts"
_This issue was automatically created by [Allstar](https://github.com/ossf/allstar/)._

**Security Policy Violation**
Project is out of compliance with Binary Artifacts policy: binaries present in source code

**Rule Description**
Binary Artifacts are an increased security risk in your repository. Binary artifacts cannot be reviewed, allowing the introduction of possibly obsolete or maliciously su

[2022-06-02 00:14] mschulze17 commented on #607
@charbull mind taking a look at this and letting me know of follow-up action?

[2022-06-02 14:50] charbull commented on #607
@mschulze17 ignore

[2022-06-03 10:31] darshanjain12 opened #611 "Outsider Air quality transmitter points"
Hello,
Here are points from AQT Sensor for outside air (Terrace Area)  that is been installed for SIGD project

Would be great to hear your thoughts to
add the field name, subfields, canonical type:

outside_air_no2_concentration_sensor
outside_air_so2_concentration_sensor
outside_air_co_concentration_sensor
outside_air_h2s_concentration_sensor
outside_air_ozone_level_sensor
outside_air_pm2.5_dens

[2022-06-04 06:36] darshanjain12 opened #612 "Field Name Requirement UPS"
Hello,
Here are points from UPS

Would be great to hear your thoughts to
add the fields

output_power_sensor
output_apparent_power_sensor
battery_voltage_sensor
general_alarm
low_battery_alarm
overload_alarm
bypass_status
inverter_failed_alarm
charger_failed_alarm
lost_power_alarm
battery_energy_accumulator
load_percentage_sensor

[2022-06-06 17:14] charbull commented on #607
removed with https://github.com/google/digitalbuildings/commit/453b587ad5ad597249a54cd6de639ff63b885e04
Closing for now

[2022-06-06 17:14] #607 closed

[2022-06-08 02:11] rektide opened #626 "Website links broken"
**Describe the bug**
Many links on website are broken.

**To Reproduce**

One example:
* Go to https://google.github.io/digitalbuildings/ontology/yaml/
* Click the link to the model (points to https://google.github.io/ontology/docs/model.md )

**Expected behavior**
Yaml model shows up

Actual expected destination might be: https://google.github.io/digitalbuildings/ontology/docs/model

[2022-06-09 19:37] MoMus2000 opened #636 "rdf_generator.py broken"
python rdfformat/rdf_generator.py --input=./input.yaml --output=./db.rdf
Does not work.

Output I get:  AttributeError: term 'seeAlso' not in namespace 'http://www.w3.org/2002/07/owl#'

Please could you check and let me know if its me who's running it wrong. Thanks.

[2022-06-10 18:20] charbull commented on #636
Hi @MoMus2000 can you update the rdflib version please in the setup.py and give it a try?

[2022-06-10 19:31] MoMus2000 commented on #636
Hi @charbull same error

[2022-06-16 23:54] tasodorff opened #654 "Clean Up HVAC/VLV Types"
Some of what is implemented in HVAC/VLV.yaml is counter to our general guidance for how to model with the least set of necessary fields: some implement CDWPVM, HWPVM, etc.; this might not be favorable, as `valve` and other context is included in the fields.

This is different from PMP, where we do not call out things like `pump_run_command`. Consider changing it.

[2022-07-21 08:39] noursaidi opened #724 "Invalid JSON causes instance validator to crash"
**Describe the bug**
When processing a message a message which is invalid JSON, e.g. extra comma, use of single quotes instead of double quotes, the instance validator crashes out with an invalid message exception.

**To Reproduce**
Validate a subscription which is receiving invalid JSON messages

**Expected behavior**
The entity is marked as a failure for invalid message

**Screenshots**
[code]

[2022-07-21 08:45] noursaidi commented on #724
Also encountered a similar issue processing a message which seemed to have a payload which was just - `1` (the number 1)

[code]

[2022-07-22 21:15] charbull commented on #724
@trav3711 @mschulze17 can we please take a look at this in the current sprint. It is a P1 bug.

[2022-07-27 22:41] #724 closed

[2022-07-27 22:41] trav3711 commented on #724
Fixed internally and will be migrated to Github within a week.

[2022-08-12 16:23] tasodorff opened #744 "Clean up inconsistency between `apparent_power` and `apparentpower`, `reactive_power` and `reactivepower`"
Apparent power and apparentpower exist together in the ontology. Same is true for reactive power and reactivepower. Consolidate to one standard (preferred apparent and reactive as measurement descriptors).

[2022-08-17 16:24] gnmerritt opened #748 "instance_validator.py setup instructions don't work on M1 macOS"
**Describe the bug**
Following the instructions in `tools/validators/instance_validator/README.md` doesn't work

**To Reproduce**
[code]

**Expected behavior**
`grpc` import shouldn't fail.

I was able to get things to work via:
[code]

**OS (please complete the following information):**
[code]

[2022-08-17 16:45] charbull commented on #748
Hi @gnmerritt I just merged this PR: https://github.com/google/digitalbuildings/pull/739 to support pip
can you please give it a try?

[2022-08-17 17:31] gnmerritt commented on #748
Yep, `python3 -m pip install .` works after your merge. Thanks!

[2022-08-17 17:31] #748 closed

[2022-08-23 15:39] trav3711 commented on #217
This behavior is already implemented.

[2022-08-25 23:28] tasodorff opened #755 "WM_WF remove `supply`"
For `WM_WF`, remove `supply` from the `water_flowrate_sensor` field.

[2022-09-02 06:34] Karthi8883 opened #756 "Pull request #656 merge"
The below Canonical type has id field missing, needs to be added.

https://github.com/google/digitalbuildings/blob/e2169b56e28c748208087c825a61464664afe54a/ontology/yaml/resources/HVAC/entity_types/VAV.yaml#L42

[2022-09-07 15:57] connorjcantrell opened #758 "Cleanup inconsistency in Module 1: Lesson 4 - Field Enumeration Example"
Issue:
Located in [Module 1: Lesson 4](https://github.com/google/digitalbuildings/blob/master/ontology/docs/learning/Module%201%2C%20Lesson%204_%20Fields%20(v1_git).pdf) page 18, according to lesson, two identical sensors are distinguished by `<field>_#`, however the field enumeration example is missing an underscore.

Solution:
The field example should be changed from `supply_air_static_pressure_

[2022-09-08 21:45] mschulze17 commented on #758
Thank you for flagging this - this feedback has been passed along to the team responsible for making edits to content. I'll leave this Issue open until the updates get uploaded to Github.

[2022-09-14 15:55] charbull commented on #626
@rektide fixed thank you for reporting it.

[2022-09-14 15:55] #626 closed

[2022-09-14 19:10] charbull commented on #756
@cstirdivant can you help on this please?

[2022-09-15 00:40] cstirdivant commented on #756
This issue has been reoslved with the merging of PR #767

[2022-09-15 00:40] #756 closed

[2022-09-21 16:34] trav3711 opened #773 "Cannot import auth from google on Windows when running toolkit.py"
**Describe the bug**
When running toolkit on Windows, Dependency errors are raised for `subscriber.py`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to tools directory
2. run `pip_install.bat`
3. Run instance validator via toolkit
5. See error

**Expected behavior**
The instance validator should run normally without raising any dependency errors.

**Error Description**
command:
[code]

[2022-10-03 18:49] darshanjain12 opened #789 "[Telemetry Validation Run on Windows]"
Telemetry validation ending with : Top-level exception occurred in callback while processing a message , AttributeError: 'TelemetryReportPoint' object has no attribute 'GetPrintableMessage'
PubSub subscription failed with error: 'TelemetryReportPoint' object has no attribute 'GetPrintableMessage'

![image](https://user-images.githubusercontent.com/104188629/193655256-981805a4-b666-4544-944e-7b3a71

[2022-10-04 17:34] charbull commented on #789
@darshanjain12 thanks for reporting, @trav3711 is taking a look and will update here soon.

[2022-10-10 14:38] charbull commented on #789
@darshanjain12 ping, closing for now please feel free to re-open if needed.

[2022-10-10 14:38] #789 closed

[2022-10-12 15:06] charbull commented on #758
@connorjcantrell the learning modules are updated, please take a look.

[2022-10-15 07:50] Karthi8883 opened #800 "Caller does not have required permission to use project essential-keep-197822"
Starting config validation...

Loading config files...
Validating syntax please wait ...
Opening file: test\final_dbo\dbo.yaml, please wait ...
Starting config validation...
Validating entities ...
All entities validated

Starting telemetry validation...

Connecting to pubsub subscription:  projects/essential-keep-197822/subscriptions/in-hyd-sar2-subscription
No service account. Using application

[2022-10-16 23:17] charbull commented on #800
@Karthi8883 the IoT TPM responsible to contact the appropriate points of contact to grant you access to the project.
Can you please remove this information from this opened issue: `projects/essential-keep-197822/subscriptions/in-hyd-sar2-subscription`

@pisuke FYI in case the documentation is not updated yet or sent out.

Thank you

[2022-10-16 23:57] Karthi8883 commented on #800
As informed i have removed the information.

[2022-10-17 15:41] pisuke commented on #800
@Karthi8883 There is still confidential information in the body of the issue text, can you please remove it?

[2022-10-17 15:47] pisuke commented on #800
@Karthi8883 can you please confirm that you have authorized your user before the telemetry validator command?

[code]

Can you please share the command you are using to launch the telemetry validator?

[2022-10-17 15:52] Karthi8883 commented on #800
Command i have used : python toolkit.py -i yaml path -v -s subscription name -r report path

[2022-10-17 15:54] Karthi8883 commented on #800
We are not used instance validator because we don't have service account . Json key file.

[2022-10-17 15:56] pisuke commented on #800
@Karthi8883 we shouldn't discuss this in public, please send me a direct message and I can check if you are using the correct subscription name.

[2022-10-24 23:21] cstirdivant opened #807 "Update example for aggregation subfields"
The existing examples for the `min` and `max` subfields are misleading. We should update the examples to better represent the spatial aggregation use-case.

[2022-10-28 17:27] #773 closed

[2022-10-28 21:50] mschulze17 commented on #758
@connorjcantrell the learning modules are updated, please take a look

[2022-11-07 15:35] charbull commented on #290
@pisuke @tasodorff any updates on this?
@mschulze17 fyi

[2022-11-07 15:35] charbull commented on #537
could we bring this internally and close this out?
@mschulze17 fyi

[2022-11-07 15:36] charbull commented on #589
@tasodorff any updates on this one?
@mschulze17 fyi

[2022-11-07 21:42] #758 closed

[2022-11-11 00:47] #744 closed

[2022-11-13 09:50] darshanjain12 opened #837 "[VALIDATOR BROKEN AFTER RECENT UNIT UPDATE]"
The Validator has been broken and we are not able to run the ontology validator please check. Attaching the snapshots.

![image](https://user-images.githubusercontent.com/104188629/201515836-1fc68271-9401-417e-bdf2-23f6996a2759.png)

Please do the needful

[2022-11-14 18:11] tasodorff commented on #837
can you please sync with the master?

once you have done that, rerun. if you still get the error, please share the copy of the units.yaml file you are using

[2022-11-14 18:27] darshanjain12 commented on #837
Yes synced with the master.
Please find the link for used units file: https://drive.google.com/file/d/1gPvDdP-nRDwfX4azZQLVFYMNyYAjSTMR/view?usp=sharing

[2022-11-14 20:35] tasodorff commented on #837
@darshanjain12 that unit file looks correct; have you reinstalled the validator after the most recent update?

You can run `pip_install.bat` in the `tools` directory (if you are running windows). Or, if you still are getting the error, try opening a pull request which will run the validator in the cloud; if the error occurs there, then we will be able to see the logs and troubleshoot further.

[2022-11-15 09:31] darshanjain12 commented on #837
@tasodorff  I have run the pip_install.bat again but still facing the same error. Opening a pull request for the same as suggested by you

[2022-11-15 14:24] tasodorff commented on #837
@darshanjain12 i see the validator has passed in github, so this appears to be a local issue on your machine. perhaps we set up a call to walk through the config on your local machine.

[2022-11-16 05:26] darshanjain12 commented on #837
Hi Trevor,

Yes it seems like some issue at local windows machine only, recently tried it on my other Linux machine it is working well on that machine. But I am not getting exactly where the problem is in that machine.

[2022-11-16 18:17] tasodorff commented on #837
if youd like to schedule some time, please email me directly and we can set some time. its clearly an install issue, but i dont know where the problem would be yet.

[2022-11-17 06:45] darshanjain12 commented on #837
Definitely that would really be helpful

[2022-11-17 18:19] charbull commented on #837
closing this for now. Feel free to reopen.

[2022-11-17 18:19] #837 closed

[2022-11-20 15:50] darshanjain12 opened #841 "[FACING ISSUE WITH VALIDATOR ON LINUX MACHINE]"
Faced issue while running validator.
The validator was working fine but abruptly started giving this error.
Please help with the same.

Top-level exception occurred in callback while processing a message
Traceback (most recent call last):
  File "/home/DBO/digitalbuildings/tools/tooling/lib/python3.10/site-packages/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py", line 126, i

[2022-11-20 15:53] darshanjain12 commented on #841
Particularly this error "Pub Sub subscription failed with error: 'str' object has no attribute 'get'

[2022-11-21 17:29] trav3711 commented on #841
Hi @darshanjain12 can you provide the command you used that gave you this error?

[2022-11-21 17:56] tasodorff commented on #841
@darshanjain12 as discussed today, please look at the payload being sent prior to this error arising (it should print to console). the error appears to be a malformed payload, where the validator is expecting a key:value pair, but is instead getting a lone string. please rerun and ensure the payload looks correct.

if you are still having trouble, please paste the payload into this thread and we c

[2022-11-23 14:24] darshanjain12 commented on #841
Not getting the exact payload thread getting the error in middle of telemetry validation.
 Please suggest. Attached the screenshot

![Screenshot from 2022-11-23 19-50-11](https://user-images.githubusercontent.com/104188629/203570398-e8633896-9c1a-4c06-a1ae-dd408c70a19e.png)

[2022-11-23 21:04] trav3711 commented on #841
@darshanjain12 Could you please provide the command you are running that causes this error? I would like to duplicate the error with the same project and subscription.

[2022-11-28 18:37] darshanjain12 commented on #841
Thank you for guiding me through the process.
Found out that one of the device was actually passing timestamp in place of present value.

[2022-11-28 18:37] #841 closed